{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main class="container">
    <div>
        <h1 class="mt-3 text-center">
            SalesForce Idéation
        </h1>
    </div>

    <div class="container my-5  ">
        <h3>
            Nouvelles idées
        </h3>
        <hr class="border-2">
        <div class="row row-cols-1 row-cols-md-2 justify-content-center row-cols-xl-3 g-2 mx-2">
            {% for idea in ideas %}
            <div class="col">
                <div class="card h-100 shadow-lg p-2">
                    <div class="card-body  d-flex flex-column">
                        <h3 class="card-title fs-2">{{ idea.title|u.truncate(16, '...', false) }}</h3>
                        <p>{{ idea.content|striptags|u.truncate(100, '...', false) |raw }}</p>
                        <div class="d-flex justify-content-between mt-auto p-2">
                            <h6 class="card-title fst-italic">{{ idea.author.workplace.location }}</h6>
                            <h6 class="card-title">
                                <span class=" fst-italic">
                                    {{ idea.author.firstname }} {{ idea.author.lastname}}
                                </span>
                                <span class=" ms-2 text-info">{{ idea.publicationDate|date("d/m/Y") }}</span>
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between mt-auto">
                            {% if idea.author.pictureFileName %}
                            <img src="{{ asset('/uploads/profiles_pictures/' ~ idea.author.pictureFileName)}}"
                                alt="profile picture" class="profile-picture-idea img-fluid rounded-circle">
                            {% else %}
                            <img src="{{ asset('build/images/blank-profil-picture.png' )}}" alt="profile picture"
                                class="profile-picture-idea img-fluid rounded-circle">
                            {% endif %}
                            <a href="{{ path('idea_show', {id:idea.id}) }}" class="mx-3 btn btn-primary text-white">
                                Voir l'idée</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}