{% extends 'base.html.twig' %}

{% block title %}Idées de l'agence de l'utilisateur{% endblock %}

{% block body %}
<main class="container">
    <div>
        <h1>
            SalesForce Idéation
        </h1>
    </div>

    <div class="container my-5  ">
        <div>
            <h3>
                Les idées de mon agence de {{user.workplace.location}}
            </h3>
            <div class="row row-cols-1 row-cols-md-2 justify-content-center row-cols-xl-2 g-2 mx-2">
                {% for idea in ideas %}
                <div class="col">
                    <div class="card h-100 shadow-lg p-2">
                        <div class="card-body">
                            <h3 class="card-title fs-2">{{ idea.title }} </h3>
                            <div class="d-flex justify-content-end">
                                <h6 class="card-title fst-italic">{{ idea.firstname }} {{ idea.lastname }}</h6>
                                <h6 class="card-title ms-2 text-info">{{ idea.publicationDate|date("d/m/Y") }} </h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}