{% extends 'base.html.twig' %}

{% block title %}Nouvelle idée{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('deleteIdea') }}
{% endblock %}

{% block body %}
<main class="container">
    <div class="row d-flex flex-wrap-reverse flex-md">
        <div class="col-12 col-md-9 col-xl-10">
            <div class="my-3 card h-100 shadow-lg p-3">
                <h1 class="text-center">{{idea.title}}</h1>
                <hr class="m-1">
                <p>{{idea.content|raw}}</p>
            </div>
        </div>
        <div class="col-md-3 col-xl-2">
            <div class="row">
                <div class="col-6 col-md-12 my-3">
                    <div class="card h-100 shadow-lg p-2">
                        <h6>Destination : {{ idea.perimeter }}</h6>
                        <h6>Auteur : {{ idea.author.firstname }} {{ idea.author.lastname }}</h6>
                        <h6>Agence de {{ idea.author.workplace.location }}</h6>
                        <h6>Publier le {{ idea.publicationDate|date("d/m/Y") }} </h6>

                        {% if app.user.id is same as idea.author.id %}
                        <a href="{{ path('idea_edit', {id:idea.id}) }}" class="btn btn-primary text-white">
                            Modifier l'idée</a>
                            <a id="deleteBtnShow" class="btn btn-danger m-0 shadow-lg text-white" 
                            href="{{path('archives_idea', {'idIdea': idea.id})}}">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6 col-md-12 my-3">
                    <div class="card h-100 bg-slack shadow-lg p-2">
                        <img src="{{ asset('build/images/slack_logo.png')}}" alt="logo" class="logo mx-auto my-2">
                        <button class="btn btn-primary text-white">Rejoindre le canal</button>
                    </div>
                </div>
                <div class="col-6 col-md-12 my-3">
                    <div class="card h-100 shadow-lg p-2">
                        <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Adhérer à l'idée
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Adhérer à l'idée
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" name="user" method="post" enctype="multipart/form-data" class="m-2">
                        <div class="mb-3 form-check">
                            <label class="form-check-label" for="adherence">Je souhaite adhérer à cette idée et
                                rejoindre sont canal lorsqu'il sera crée</label>
                            <input type="checkbox" class="form-check-input" id="adherence" name="adherence">
                        </div>
                        <button type="submit" class="btn btn-primary text-white">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}