{% extends 'base.html.twig' %}

{% block title %}Nouvelle idée{% endblock %}

{% block body %}
<main class="container">
    <div class="row d-flex flex-wrap-reverse flex-md">
        <div class="col-12 col-md-9 col-xl-10">
            <div class="my-3 card h-100 shadow-lg p-3">
                <h1 class="text-center">{{idea.title}}</h1>
                <hr class="m-1">
                <p>{{idea.content|raw}}</p>
            </div>
        </div>
        <div class="col-md-3 col-xl-2">
            <div class="row">
                <div class="col-6 col-md-12 my-3">
                    <div class="card h-100 shadow-lg p-2">
                        <h6>Destination : {{ idea.perimeter }}</h6>
                        <h6>Auteur : {{ idea.author.firstname }} {{ idea.author.lastname }}</h6>
                        <h6>Agence de {{ idea.author.workplace.location }}</h6>
                        <h6>Publier le {{ idea.publicationDate|date("d/m/Y") }} </h6>
                    </div>
                </div>
                <div class="col-6 col-md-12 my-3">
                    <div class="card h-100 bg-slack shadow-lg p-2">
                        <img src="{{ asset('build/images/slack_logo.png')}}" alt="logo" class="logo mx-auto my-2">
                        <button class="btn btn-primary text-white">Rejoindre le canal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}