<div id="sidebar" class="bg-primary show shadow-lg sticky-md-top">
    <div class="list-group text-start vh-100">
        <ul class="list-unstyled text-white text-center text-md-start sticky-md-top vh-100 my-0">
            <div class="text-center my-1">
                <button type="button" class="btn text-reset d-md-none" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="bi bi-x-circle-fill fs-4 text-white"></i>
                </button>
            </div>

            <hr class="d-md-none">

            <div class="d-flex justify-content-center my-2">
                {% if app.user.pictureFileName %}
                <img src="{{ asset('/uploads/profiles_pictures/' ~ app.user.pictureFileName)}}" alt="profile picture"
                    class="side-bar-profile-picture img-fluid rounded-circle">
                {% else %}
                <img src="{{ asset('build/images/blank-profil-picture.png' )}}" alt="profile picture"
                    class="side-bar-profile-picture img-fluid rounded-circle">
                {% endif %}
            </div>

            <hr>

            <a href="{{ path('user_show', {id:app.user.id}) }}" class="nav-link px-3 w-100 fs-5">
                <li class="fs-5">
                    <i class="bi bi-person-fill"></i> Mon Profil
                </li>
            </a>

            <hr>

            <a href="{{ path('app_home') }}" class="nav-link px-3 w-100 fs-5">
                <li>
                    <i class="bi bi-house-fill"></i> Accueil
                </li>
            </a>

            <hr>

            <a href="{{ path('app_home') }}" class="nav-link px-3 w-100 fs-5">
                <li class="my-3 fs-5">
                    <i class="bi bi-globe"></i> Global
                </li>
            </a>

            <a href="{{ path('ideas_by_user_office') }}" class="nav-link px-3 w-100 fs-5">
                <li class="my-3 fs-5">
                    <i class="bi bi-building-fill"></i> Mon agence
                </li>
            </a>

            <a href="{{ path('ideas_by_user_department') }}" class="nav-link px-3 w-100 fs-5">
                <li class="my-3 fs-5">
                    <i class="bi bi-people-fill"></i> Mon service
                </li>
            </a>

            <hr>

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_users')}}" class="nav-link px-3 w-100 fs-5">
                <li class="my-3 fs-5">
                    <i class="bi bi-people-fill"></i> Utilisateurs
                </li>
            </a>

            <a href="{{ path('admin_ideas')}}" class="nav-link px-3 w-100 fs-5">
                <li class="my-3 fs-5">
                    <i class="bi bi-archive-fill"></i> Idées
                </li>
            </a>
            {% endif %}
            <div class="d-flex align-self-end">
                <a class="nav-link px-3 w-100 fs-5" href="{{ path('app_logout') }}">
                    <li class="my-3 fs-5">
                        <i class="bi bi-box-arrow-left"></i> Déconnexion
                    </li>
                </a>
            </div>
        </ul>
    </div>
</div>