<div id="sidebar" class="bg-primary show shadow-lg sticky-md-top">
    <div class="list-group text-sm-start min-vh-100">
        <ul class="list-unstyled text-white text-center sticky-md-top">
            <button type="button" class="btn text-reset d-md-none" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi bi-x-circle-fill fs-4 text-white"></i>
            </button>

            <hr class="d-md-none mx-5 px-5">

            <li class="my-3 mx-3 fs-5">
                <a href="{{ path('user_show', {id:app.user.id}) }}" class="nav-link px-3 d-inline-block rounded">
                    <i class="bi bi-person-fill"></i> {{ app.user.firstname }} {{ app.user.lastname }}
                </a>
            </li>
            <li class="my-3 mx-3 fs-5">
                <a class="nav-link px-3 d-inline-block rounded" href="{{ path('app_logout') }}"><i
                        class="bi bi-box-arrow-left"></i> Déconnexion</a>
            </li>

            <hr class="mx-5">

            <li class="my-3 fs-5">
                <a href="{{ path('app_home') }}" class="nav-link px-3 d-inline-block rounded">
                    <i class="bi bi-house-fill"></i> Accueil
                </a>
            </li>

            <hr class="mx-5">

            <li class="my-3 fs-5">
                <a href="{{ path('app_home') }}" class="nav-link px-3 d-inline-block rounded">
                    <i class="bi bi-globe"></i> Global
                </a>
            </li>

            <li class="my-3 fs-5">
                <a href="{{ path('ideas_by_user_office') }}" class="nav-link px-3 d-inline-block rounded">
                    <i class="bi bi-building-fill"></i> Mon agence
                </a>
            </li>

            <li class="my-3 fs-5">
                <a href="{{ path('ideas_by_user_department') }}" class="nav-link px-3 d-inline-block rounded">
                    <i class="bi bi-people-fill"></i> Mon service
                </a>
            </li>

            <hr class="mx-5">

            <li class="my-3 mx-3 fs-5">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_users')}}" class="nav-link px-3 d-inline-block rounded">
                    <i class="bi bi-database-fill"></i> Admin
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>