{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('deleteIdea') }}
{% endblock %}

{% block title %}{{user.firstname}} {{user.lastname}}{% endblock %}

{% block body %}
<div class="row m-3">
    <div class="card h-100 shadow-lg p-2">
        <div class="card-body">
            <div class="row text-center text-md-start justify-content-center justify-content-md-start">
                <div class="col-6 col-md-auto">
                    {% if user.pictureFileName %}
                    <img src="{{ asset('/uploads/profiles_pictures/' ~ user.pictureFileName)}}" alt="profile picture"
                        class="profile-picture img-fluid rounded-circle">
                    {% else %}
                    <img src="{{ asset('build/images/blank-profil-picture.png' )}}" alt="profile picture"
                        class="profile-picture img-fluid rounded-circle">
                    {% endif %}

                    <div class="row text-center text-md-start">
                        {% if app.user.email is same as user.email %}
                        <button type="button" class="btn btn-primary text-white mt-2" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Changer de photo de profil
                        </button>

                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                            Changer de photo de profil
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('user_show', {id:app.user.id}) }}" name="user"
                                            method="post" enctype="multipart/form-data" class="m-2">

                                            <div class="input-group">
                                                <input type="file" class="form-control" name="upload-user-picture"
                                                    id="upload-user-picture">
                                                <input type="hidden" name="_csrf_token"
                                                    value="{{ csrf_token('authenticate') }}">

                                                <button type="submit" class="btn btn-primary text-white p-2">
                                                    Envoyer
                                                </button>
                                            </div>
                                            <p class="file-size text-center"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-auto">
                    <h2> {{user.firstname}} {{user.lastname}} </h2>
                    <p>Email : {{user.email}} </p>
                    <p>Agence de : {{user.workplace.location}}</p>
                    <p>Service : {{user.department}}</p>
                    <p>poste : {{user.position}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-4">
    <div class="container my-4">
        <div>
            <h3 class="row row-cols-1 g-4 mx-4">
                Listes des idées de {{user.firstname}} {{user.lastname}} :
            </h3>
        </div>
        <div id="userIdeas" class="row row-cols-1 row-cols-md-2 justify-content-center row-cols-xl-3 g-2 mx-2">
            {% for idea in ideas %}
            <div class="col">
                <div class="card h-100 shadow-lg p-2">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">{{ idea.title|u.truncate(16, '...', false) }}</h3>
                        <p>{{ idea.content|striptags|u.truncate(100, '...', false) |raw }}</p>
                        <div class="d-flex justify-content-between mt-auto p-2">
                            <h6 class="card-title fst-italic">{{ idea.perimeter }}</h6>
                            <h6 class="card-title ms-2 text-info">{{ idea.publicationDate|date("d/m/Y") }} </h6>
                        </div>
                        <div class="d-flex justify-content-between mt-auto">
                            <a href="{{ path('idea_show', {id:idea.id}) }}" class="mx-2 btn btn-primary text-white">
                                Voir l'idée</a>
                            {% if app.user.email is same as user.email %}
                            <a class="deleteBtn btn btn-danger m-0 shadow-lg text-white"
                                href="{{path('archives_idea', {'idIdea': idea.id})}}">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row m-4">
    <div class="container my-5">
        <div>
            <h3 class="row row-cols-1 g-4 mx-4">
                Listes des idées auxquels adhère {{user.firstname}} {{user.lastname}} :
            </h3>
        </div>
        <div id="userIdeas" class="row row-cols-1 row-cols-md-2 justify-content-center row-cols-xl-3 g-2 mx-2">
            {% for idea in membershipIdea %}
            <div class="col">
                <div class="card h-100 shadow-lg p-2">
                    <div class="card-body  d-flex flex-column">
                        <h3 class="card-title fs-2">{{ idea.title|u.truncate(16, '...', false) }}</h3>
                        <p>{{ idea.content|striptags|u.truncate(100, '...', false) |raw }}</p>
                        <div class="d-flex justify-content-between mt-auto p-2">
                            <h6 class="card-title fst-italic">{{ idea.author.workplace.location }}</h6>
                            <h6 class="card-title">
                                <span class=" fst-italic">
                                    {{ idea.author.firstname }} {{ idea.author.lastname}}
                                </span>
                                <span class=" ms-2 text-info">{{ idea.publicationDate|date("d/m/Y") }}</span>
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between mt-auto">
                            {% if idea.author.pictureFileName %}
                            <img src="{{ asset('/uploads/profiles_pictures/' ~ idea.author.pictureFileName)}}"
                                alt="profile picture" class="profile-picture-idea img-fluid rounded-circle">
                            {% else %}
                            <img src="{{ asset('build/images/blank-profil-picture.png' )}}" alt="profile picture"
                                class="profile-picture-idea img-fluid rounded-circle">
                            {% endif %}
                            <a href="{{ path('idea_show', {id:idea.id}) }}" class="mx-3 btn btn-primary text-white">
                                Voir l'idée</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}